[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Aa]ssets/**/*.csproj
[Aa]ssets/**/*.unityproj
[Aa]ssets/**/*.sln
[Aa]ssets/**/*.suo
[Aa]ssets/**/*.user
[Aa]ssets/**/*.userprefs
[Aa]ssets/**/*.pidb
[Aa]ssets/**/*.booproj
[Aa]ssets/**/*.svd
[Aa]ssets/**/*.pdb
[Aa]ssets/**/*.mdb
[Aa]ssets/**/*.opendb
[Aa]ssets/**/*.VC.db
[Aa]ssets/collab/
[Aa]ssets/StreamingAssets/